{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- about section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">About Us</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About </span>
            </div>
        </div>
    </section>
    <!-- about section end -->
    <!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-left">
                <h2 class="about-heading">Cental<span> About</span></h2>
                <p class="about-para">The central aspects of a car are the main qualities that define how good, safe,
                    and useful it is. A car is primarily designed to provide safe and comfortable transportation, so
                    safety features like airbags, brakes, and seatbelts are central to it.</p>

                <div class="our-vision">
                    <div class="vision-box">
                        <div class="target">
                            <div class="gol">
                                <i class="fa-solid fa-bullseye"></i>
                            </div>
                        </div>
                        <h4 class="vision-heading">Our Vision</h4>
                        <p class="vision-para">It aims to build trust through professional care, transparency, and
                            convenient service solutions.</p>
                    </div>
                    <div class="vision-box">
                        <div class="target">
                            <div class="gol">
                                <i class="fa-solid fa-bullseye"></i>
                            </div>
                        </div>
                        <h4 class="vision-heading">Our Mision</h4>
                        <p class="vision-para">The mission of a car centre is to provide dependable and high-quality
                            vehicle service at affordable prices.</p>
                    </div>
                </div>

                <p class="cental-paragraph">A car centre is a place that provides complete care for vehicles, including
                    servicing, repairs, inspections, and maintenance.
                    Its main role is to keep cars safe, reliable, and in good condition by offering professional
                    service, skilled technicians.</p>

                <div class="experience">
                    <div class="year-of">
                        <h2 class="number-17">17</h2>
                        <h5 class="topic">Years of experience</h5>
                    </div>
                    <div class="deatails">
                        <ul type="none">
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>Vehicle servicing and maintenance</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span> Repair and replacement of parts</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>Skilled technicians and proper
                                    tools</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>Timely and cost-effective service</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="customer-detail">
                    <div class="more-about">
                        <div class="more-about-us">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="picture"></div>
                        <div class="picture-detail">
                            <h3 class="william">William Burgess</h3>
                            <span class="career">Career Founder</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cental-left">
                <div class="key-chain">
                    <img src="{% static 'image/about-img.jpg' %}" alt="">
                </div>
                <div class="taxi">
                    <div class="taxi-img">
                        <img src="{% static 'image/about-img-1.jpg' %}" alt="">
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- cental about end -->

    <!-- numbering of car start -->
  <section class="numbering-car">
        <div class="numbering-inner">
            <div class="overlay">
                {% for n in Numbering_show %}
                <div class="happy-client">
                    <div class="icon-box">
                        <div class="like-box">
                            <i class="{{ n.num_icon }}"></i>
                        </div>
                    </div>
                    <div class="icon-box1">
                        <h4 class="number">{{ n.num_counter }}</h4>
                        <h5 class="number-para">{{ n.num_title }}</h5>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
        </div>
    </section>
    <!-- numbering of car end -->

     <!-- cental feature start -->
    <section class="cental-feature">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking</span> Features</h2>
            <p class="feature-discription">A central feature of a car is its engine, which serves as the heart of the
                vehicle. The engine converts fuel (such as petrol, diesel, or electricity in electric cars) into energy
                that powers the car and allows it to move. Without the engine, a car cannot operate.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="class-para">
                        <h3 class="class-service">First Class services</h3>
                        <p class="service-detail">At that time, cars were new and often unreliable, so they required
                            frequent maintenance and repairs. Early car services mainly focused on basic tasks such as
                            fixing engines, changing oil etc.</p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-road"></i>

                        </div>

                    </div>
                    <div class="class-para">
                        <h3 class="class-service">24/7 road assistance</h3>
                        <p class="service-detail">Central Car offers 24/7 road assistance as an important service for
                            all its customers. This means help is available any time of the day or night, every day of
                            the year, whether it's early morning, late at night, weekends, or holidays. </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'image/car-1.png' %}" alt="car-1">
            </div>


            <div class="feature-content-box">
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Quality at Minimum</h3>
                        <p class="service-detail1">At a minimum, a good-quality car should provide essential safety,
                            reliability, comfort, and practicality. Safety features are the most important and should
                            include at least driver and front passenger airbags, ABS with EBD, seatbelts for all
                            passengers.</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </div>
                </div>
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Free Pick-up & Drop-Off</h3>
                        <p class="service-detail1">this is for your car is a service many modern
                            workshops & car-servicing companies offer so you don't have to drive your car to the
                            garage yourself they collect your car from your home, service or repair it, and then
                            return it back to you, usually at no extra cost if you book through them.</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-map-pin"></i>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental feature end -->

      <!-- cental process start -->
   <section class="cental-process">
        <div class="process-inner">
            <div class="cental-top">
                <h2 class="process-heading">Cental <span>Process</span></h2>
                <p class="process-para">The central processes of a car centre encompass all the main operations that ensure smooth functioning and customer satisfaction. These include service booking and appointment management through phone, app, or website, vehicle pick-up and drop-off, and thorough inspection and diagnosis to identify maintenance needs or issues.</p>
            </div>
            <div class="process-card">
                <div class="overlay">
                     {% for p in Centalprocess_show %}
                    <div class="card-1">
                        <h4 class="card-heading">{{ p.pro_title }}</h4>
                        <p class="card-para">{{ p.pro_desc }}</p>
                          <div class="card-box">
                            <span class="card-number"> {{ p.pro_number }}</span>
                          </div>
                    </div>
                  
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    <!-- cental process end -->

    <!-- customer support center  start-->
    <section class="customer-support">
        <div class="customer-top">
            <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
            <p class="customer-para">It ensures smooth communication, answers questions about services, handles complaints, provides updates on bookings or repairs, and offers guidance before, during, and after vehicle service to ensure customer satisfaction.</p>
        </div>
        <div class="customer-bottom">
            <div class="overlay">
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{%  static 'image/team-1.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'image/team-4.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'image/team-3.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'image/team-2.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- customer support center end-->

                <!-- rent your car start -->
        <section class="rent-car">
            <div class="overlay">
                <div class="rent-img">
                    <div class="rent-inner">
                        <div class="interest-rent">
                            <h3 class="rent-heading">Rent Your Car</h3>
                            <h2 class="renting">Interested in Renting?</h2>
                            <h5 class="rent-para">Dont't hesitate and send us a message.</h5>
                            <div class="rent-box">
                                <div class="rent-msg">
                                    <a href="#">Whatsapp</a>
                                </div>
                                <div class="rent-contact">
                                    <a href="#">Contact Us</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- rent your car end -->
{% endblock %}
    