{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- about section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">About Us</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About </span>
            </div>
        </div>
    </section>
    <!-- about section end -->
    <!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-left">
                <h2 class="about-heading">Cental<span> About</span></h2>
                <p class="about-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus obcaecati ad
                    nesciunt eum
                    necessitatibus repellendus tempora, mollitia architecto eius dolore velit, natus nam cupiditate fuga
                    cum tempore minus in! Perferendis laborum debitis quisquam assumenda explicabo exercitationem
                    ratione voluptatem sit veritatis?</p>

                <div class="our-vision">
                    <div class="vision-box">
                        <div class="target">
                            <div class="gol">
                                <i class="fa-solid fa-bullseye"></i>
                            </div>
                        </div>
                        <h4 class="vision-heading">Our Vision</h4>
                        <p class="vision-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, mollitia
                            deserunt.</p>
                    </div>
                    <div class="vision-box">
                        <div class="target">
                            <div class="gol">
                                <i class="fa-solid fa-bullseye"></i>
                            </div>
                        </div>
                        <h4 class="vision-heading">Our Mision</h4>
                        <p class="vision-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, mollitia
                            deserunt.</p>
                    </div>
                </div>

                <p class="cental-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eaque
                    ipsam quia ea laborum nobis dicta quo, alias cum quos, eum aut quidem qui consequatur. Odio, officia
                    perspiciatis assumenda magni, sunt, eligendi libero corrupti exercitationem rem laborum dicta?
                    Aliquid.</p>

                <div class="experience">
                    <div class="year-of">
                        <h2 class="number-17">17</h2>
                        <h5 class="topic">Years of experience</h5>
                    </div>
                    <div class="deatails">
                        <ul type="none">
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>Lorem ipsum dolor sit amet</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span> ipsum dolor sit amet consecteturm
                                    elit.</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span> Ut reprehenderit suscipit korem</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>in magni illum magnam non saepe</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="customer-detail">
                    <div class="more-about">
                        <div class="more-about-us">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="picture"></div>
                        <div class="picture-detail">
                            <h3 class="william">William Burgess</h3>
                            <span class="career">Career Founder</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cental-left">
                <div class="key-chain">
                    <img src="{% static 'image/about-img.jpg' %}" alt="">
                </div>
                <div class="taxi">
                    <img src="{% static 'image/about-img-1.jpg' %}" alt="">
                </div>

            </div>
        </div>
    </section>
    <!-- cental about end -->

    <!-- numbering of car start -->
    <section class="numbering-car">
        <div class="numbering-inner">
            <div class="overlay">
                <div class="happy-client">
                    <div class="icon-box">
                        <div class="like-box">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="icon-box1">
                        <h4 class="number">829+</h4>
                        <h5 class="number-para">Happy Clients</h5>
                    </div>
                </div>
                <div class="happy-client">
                    <div class="icon-box">
                        <div class="like-box">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="icon-box1">
                        <h4 class="number">56+</h4>
                        <h5 class="number-para">Number of cars</h5>
                    </div>
                </div>
                <div class="happy-client">
                    <div class="icon-box">
                        <div class="like-box">
                            <i class="fa-solid fa-building"></i>
                        </div>
                    </div>
                    <div class="icon-box1">
                        <h4 class="number">127+</h4>
                        <h5 class="number-para">Car Center</h5>
                    </div>
                </div>
                <div class="happy-client">
                    <div class="icon-box">
                        <div class="like-box">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <div class="icon-box1">
                        <h4 class="number">589+</h4>
                        <h5 class="number-para">Total kilometers</h5>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- numbering of car end -->

    <!-- cental feature start -->

    <section class="cental-feature">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking</span> Features</h2>
            <p class="feature-discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde inventore
                placeat porro odio et labore aliquid, sit enim! Quaerat, quas? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Nam quisquam magni possimus tenetur molestias dicta.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="class-para">
                        <h3 class="class-service">First Class services</h3>
                        <p class="service-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam
                            consequatur, illum
                            est mollitia cumque maxime necessitatibus accusantium ex corporis assumenda libero!</p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-road"></i>

                        </div>

                    </div>
                    <div class="class-para">
                        <h3 class="class-service">24/7 road assistance</h3>
                        <p class="service-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam
                            consequatur, illum
                            est mollitia cumque maxime necessitatibus accusantium ex corporis assumenda libero!</p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'image/car-1.png' %}" alt="car-1">
            </div>


            <div class="feature-content-box">
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Quality at Minimum</h3>
                        <p class="service-detail1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                            totam consequatur, illum
                            est mollitia cumque maxime necessitatibus accusantium ex corporis assumenda libero!</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </div>
                </div>
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Free Pick-up & Drop-Off</h3>
                        <p class="service-detail1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                            totam consequatur, illum
                            est mollitia cumque maxime necessitatibus accusantium ex corporis assumenda libero!</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-map-pin"></i>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental feature end -->
    <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="cental-top">
                <h2 class="process-heading">Cental <span>Process</span></h2>
                <p class="process-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores eveniet sit
                    officiis delectus ratione deleniti distinctio modi? Nostrum impedit voluptates ratione minus
                    possimus doloremque quasi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, provident! Lorem ipsum dolor sit amet consectetur, aliquam!</p>
            </div>
            <div class="process-card">
                <div class="overlay">
                    <div class="card-1">
                        <h4 class="card-heading">Come in Contact</h4>
                        <p class="card-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ipsa excepturi recusandae quia!</p>
                          <div class="card-box">
                            <span class="card-number">01.</span>
                          </div>
                    </div>
                  
                    <div class="card-1">
                         <h4 class="card-heading">Choose A Car</h4>
                        <p class="card-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe recusandae quia!</p>
                          <div class="card-box">
                            <span class="card-number">02.</span>
                          </div>
                    </div>
                    <div class="card-1">
                         <h4 class="card-heading">Enjoy Driving</h4>
                        <p class="card-para">Lorem ipsum, dolor sit amet consectetur  Saepe ipsa excepturi </p>
                          <div class="card-box">
                            <span class="card-number">03.</span>
                          </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- cental process end -->
     <!-- customer support center  start-->
        <section class="customer-support">
            <div class="customer-top">
                <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
                <p class="customer-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                    exercitationem
                    sint aliquam quod aspernatur voluptas harum magni, ex neque tempore? Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Quaerat, sed ullam! Modi, repellat. Maxime, tempora.</p>
            </div>
            <div class="customer-bottom">
                <div class="overlay">
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'image/team-1.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                      
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'image/team-4.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'image/team-3.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'image/team-2.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- customer support center end-->

                <!-- rent your car start -->
        <section class="rent-car">
            <div class="overlay">
                <div class="rent-img">
                    <div class="rent-inner">
                        <div class="interest-rent">
                            <h3 class="rent-heading">Rent Your Car</h3>
                            <h2 class="renting">Interested in Renting?</h2>
                            <h5 class="rent-para">Dont't hesitate and send us a message.</h5>
                            <div class="rent-box">
                                <div class="rent-msg">
                                    <a href="#">Whatsapp</a>
                                </div>
                                <div class="rent-contact">
                                    <a href="#">Contact Us</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- rent your car end -->
{% endblock %}
    