{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- service section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">Our Blog & News</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Blog & News</span>
            </div>
        </div>
    </section>
    <!-- service section end -->
       <!-- cental blog & news start-->
        <section class="vehicle-categories">
            <div class="vehicle-top">
                <h3 class="topic-vehicle">Cental <span>Blog & News</span></h3>
                <p class="vehicle-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                    exercitationem
                    sint aliquam quod aspernatur voluptas harum magni, ex neque tempore? Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Quaerat, sed ullam! Modi, repellat. Maxime, tempora.</p>
            </div>
            <div class="overlay">
                <div class="blog-bottom">
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'image/blog-1.jpg' %}" alt="blog-1">
                            <div class="dec30">
                                <span>30 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving">Rental Cars how to check
                                driving fines?
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum, tenetur ullam rem in alias,
                                quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'image/blog-2.jpg' %}" alt="blog">
                            <div class="dec30">
                                <span>25 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving"> Rental cost of sport and other
                                cars
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum, tenetur ullam rem in
                                alias,nulla blanditiis quisquam, ex ut quis quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                    <div class="blog-rental">
                        <div class="blog-img">
                            <img src="{% static 'image/blog-3.jpg' %}" alt="blog-3">
                            <div class="dec30">
                                <span>27 Dec 2025</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <div class="martin">
                                <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                                <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                            </div>
                            <h2 class="driving"> Document required for car rental
                            </h2>
                            <p class="driving-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nulla
                                blanditiis quisquam, ex ut quis voluptates animi voluptatum,nulla blanditiis quisquam,
                                ex ut
                                quis tenetur ullam rem in alias, quae officia.</p>
                            <h5 class="read-more">Read More
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </section>
        <!-- cental blog & news end -->

          <!-- numbering of car start -->
        <section class="numbering-car">
            <div class="numbering-inner">
                <div class="overlay">
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">829+</h4>
                            <h5 class="number-para">Happy Clients</h5>
                        </div>
                    </div>
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">56+</h4>
                            <h5 class="number-para">Number of cars</h5>
                        </div>
                    </div>
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-building"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">127+</h4>
                            <h5 class="number-para">Car Center</h5>
                        </div>
                    </div>
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">589+</h4>
                            <h5 class="number-para">Total kilometers</h5>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>
        <!-- numbering of car end -->

          <!-- rent your car start -->
        <section class="rent-car">
            <div class="overlay">
                <div class="rent-img">
                    <div class="rent-inner">
                        <div class="interest-rent">
                            <h3 class="rent-heading">Rent Your Car</h3>
                            <h2 class="renting">Interested in Renting?</h2>
                            <h5 class="rent-para">Dont't hesitate and send us a message.</h5>
                            <div class="rent-box">
                                <div class="rent-msg">
                                    <a href="#">Whatsapp</a>
                                </div>
                                <div class="rent-contact">
                                    <a href="#">Contact Us</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- rent your car end -->
         {% endblock %}
        