{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- header section start -->
    <header class="header">
        <div class="top-header">
            <div class="overlay">
                <div class="socialicon">
                    <div class="social-box">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="social-box">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="social-box">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="social-box">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
                <div class="emailsection">
                    <a href="#"><i class="fa-solid fa-location-arrow"></i>Find A Location</a>
                    <a href="tel:+01234567890"> <i class="fa-solid fa-phone"></i>+01234567890</a>
                    <a href="mailto:Example@gmail.com"><i class="fa-solid fa-envelope"></i> Example@gmail.com</a>

                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="overlay">
                <div class="logo">
                    <a href="index.html">
                        <i class="fa-solid fa-car"></i>Cental</a>
                </div>
                <div class="navbar">
                    <nav>
                        <a href="index.html">Home</a>
                        <a href="about.html">About</a>
                        <a href="service.html">Service</a>
                        <a href="blog.html">Blog</a>
                        <a href="#" target="_blank">Pages</a>
                        <a href="contact.html" target="_blank">Contact</a>
                    </nav>
                </div>
                <div class="get-start">
                    <a href="index.html">Get-Started</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->

    <!-- contact section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">Contact Us</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Service</span>
            </div>
        </div>
    </section>
    <!-- contact section end -->
    <section class="contact-to">
        <div class="customer-top">
            <h3 class="heading-customer"><span>Contact Us</span></h3>
            <p class="customer-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                exercitationem
                sint aliquam quod aspernatur voluptas harum magni, ex neque tempore? Lorem ipsum dolor sit amet
                consectetur
                adipisicing elit. Quaerat, sed ullam! Modi, repellat. Maxime,<a href="#">Download Now.</a></p>
        </div>

        <div class="overlay">
            <div class="contact-bottom">
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Address</h3>
                        <p class="address-1">Darshan Nagar,Ayodhya,Uttar Pradesh</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Mail Us</h3>
                        <p class="address-1">saniyayadav024@gmail.com</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Telephone</h3>
                        <p class="address-1">+91 8005266851</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-rotate-left"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Yoursite@ex.com</h3>
                        <p class="address-1">+012 34567890</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- contact-us section start -->

    <!-- contact-us section end -->

    <!-- mapping section start -->
    <section class="overlay">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28492.61015784623!2d82.17856822055587!3d26.78977371008858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399a07937e6d2823%3A0x5fc8f683b17f222b!2sAyodhya%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1765859608258!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- mapping section end -->

    <!-- footer section start -->
    <footer>
        <div class="foot-1">
            <div class="overlay">
                <div class="content-1">
                    <h3>About Us</h3>
                    <p>Dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam, doloribus dicta
                        facilis dolore corrupti unde fuga. Voluptates nisi pariatur similique esse temporibus quisquam,
                        nobis aut dolorum, deleniti dolorem possimus.</p>
                    <div class="search">
                        <div class="search-input">
                            <input type="email" placeholder="Enter Your Email">
                        </div>
                        <div class="search-btn">
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
                <div class="content-1">
                    <h3>Quick Links</h3>
                    <ul type="none">
                        <li class="links">

                            <a href="#"><i class="fa-solid fa-angle-right left-sign"></i></i><span>About</span></a>
                        </li>
                        <li class="links">

                            <a href="#"><i class="fa-solid fa-angle-right left-sign"></i></i><span>Cars</span></a>
                        </li>
                        <li class="links">

                            <a href="#"><i class="fa-solid fa-angle-right left-sign"></i></i><span>Car Types</span></a>
                        </li>
                        <li class="links">

                            <a href="#"><i class="fa-solid fa-angle-right left-sign"></i></i><span>Team</span></a>
                        </li>
                        <li class="links">

                            <a href="#"><i class="fa-solid fa-angle-right left-sign"></i></i><span>Contact Us</span></a>
                        </li>
                        <li class="links">

                            <a href="#"><i class="fa-solid fa-angle-right left-sign"></i></i><span>Terms &
                                    Conditions</span></a>
                        </li>
                    </ul>

                </div>
                <div class="content-1">
                    <h3>Business Hours</h3>
                    <ul type="none">
                        <li class="links">
                            <h4>Mon-friday:</h4>
                            <h5>09:00am to 7:00pm</h5>
                        </li>
                        <li class="links">
                            <h4>Saturday:</h4>
                            <h5>10:00am to 5:00pm</h5>
                        </li>
                        <li class="links">
                            <h4>Vacation:</h4>
                            <h5>All Sunday is our vacation</h5>
                        </li>
                    </ul>
                </div>
                <div class="content-1">
                    <h3>Contact Info</h3>
                    <ul type="none">
                        <li class="links">

                            <a href=""> <i class="fa-solid fa-location-dot"></i>Darshan Nagar,Ayodhya,Uttar Pradesh</a>
                        </li>
                        <li class="links">

                            <a href="mailto:saniyayadav024@gmail.com"> <i
                                    class="fa-solid fa-envelope"></i>saniyayadav024@gmail.com</a>
                        </li>
                        <li class="links">

                            <a href="telus:+91 8005266851"><i class="fa-solid fa-phone"></i>+91 8005266851</a>
                        </li>
                        <li class="links">

                            <a href="telus:+0123 345 67890"><i class="fa-solid fa-print"></i>+012 345 67890</a>
                        </li>
                        <li class="links">
                            <div class="social-div">

                                <div class="fb">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </div>
                                <div class="fb">
                                    <i class="fa-brands fa-instagram"></i>
                                </div>
                                <div class="fb">
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                                <div class="fb">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="foot-2">
            <div class="overlay">
                <div>
                    <h6>©
                        <a href="#">Car Booking</a>
                        All Rights Reserved.
                    </h6>
                </div>

                <div>
                    <h6> Designed by
                        <a href="#">Saniya Yadav</a>
                        Distributed by
                        <a href="#">Mr. Sudhakar Maurya</a>
                    </h6>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer section end -->
</body>

</html>