{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- contact section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">Contact Us</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Service</span>
            </div>
        </div>
    </section>
    <!-- contact section end -->
    <section class="contact-to">
        <div class="customer-top">
            <h3 class="heading-customer"><span>Contact Us</span></h3>
            <p class="customer-para">The contact of Central Car can typically be reached through multiple channels for inquiries, bookings, or support. Customers can call their official phone number, send an email, or use the contact form on their website to get assistance.<a href="#">Download Now.</a></p>
        </div>

        <div class="overlay">
            <div class="contact-bottom">
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Address</h3>
                        <p class="address-1">Darshan Nagar,Ayodhya,Uttar Pradesh</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Mail Us</h3>
                        <p class="address-1">saniyayadav024@gmail.com</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Telephone</h3>
                        <p class="address-1">+91 8005266851</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-box">
                        <div class="icon-divi">
                            <i class="fa-solid fa-rotate-left"></i>
                        </div>
                    </div>
                    <div class="contact-heading">
                        <h3 class="address">Yoursite@ex.com</h3>
                        <p class="address-1">+012 34567890</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- contact-us section start -->

    <!-- contact-us section end -->

    <!-- mapping section start -->
    <section class="overlay">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28492.61015784623!2d82.17856822055587!3d26.78977371008858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399a07937e6d2823%3A0x5fc8f683b17f222b!2sAyodhya%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1765859608258!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- mapping section end -->

{% endblock %}