
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- header section start -->
    <header class="header">
        <div class="top-header">
            <div class="overlay">
                <div class="socialicon">
                    <div class="social-box">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="social-box">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="social-box">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="social-box">
                        <a href="www.linkedin.com/in/saniya-yadav-5129463a0"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="emailsection">
                    <a href="#"><i class="fa-solid fa-location-arrow"></i>Find A Location</a>
                    <a href="tel:+01234567890"> <i class="fa-solid fa-phone"></i>+01234567890</a>
                    <a href="mailto:Example@gmail.com"><i class="fa-solid fa-envelope"></i> Example@gmail.com</a>

                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="overlay">
                <div class="logo">
                    <a href="index.html">
                        <i class="fa-solid fa-car"></i>Booking</a>
                </div>
                <div class="navbar">
                    <nav>
                         <ul>
                    <a href="index.html">
                        <li>Home</li>
                    </a>
                    <a href="about.html">
                        <li>About</li>
                    </a>
                    <a href="service.html">
                        <li>Service</li>
                    </a>
                    <a href="blog.html">
                        <li>Blog</li>
                    </a>
                    <a href="pages.html">
                        <li>Pages
                            <ul>
                                <a href="ourfeature.html"><li>Our Features</li></a>
                                <a href="ourcars.html"><li>Our Cars</li></a>
                                <a href="ourteam.html"><li>Our Team</li></a>
                                <a href="testimonial.html"><li>Testimonial</li></a>
                                <a href="404pages.html"><li>404 Pages</li></a>
                            </ul>
                        </li>
                    </a>
                    <a href="https://themewagon.github.io/eNno/#contact">
                        <li>Contact</li>
                    </a>
                </ul>
                    </nav>
                </div>
                <div class="get-start">
                    <a href="index.html">Get-Started</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->