
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking-Car</title>
   <link rel="icon" href="{% static 'image/fab.svg.svg' %}">
   
    <link rel="stylesheet" href="{% static 'owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- header section start -->
    <header class="header">
        <div class="top-header">
            <div class="overlay">
                <div class="socialicon">
                    <div class="social-box">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="social-box">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="social-box">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="social-box">
                        <a href="www.linkedin.com/in/saniya-yadav-5129463a0"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="emailsection">
                    <a href="#"><i class="fa-solid fa-location-arrow"></i>Ayodhya</a>
                    <a href="tel:+91 8005266851"> <i class="fa-solid fa-phone"></i>+91 8005266851</a>
                    <a href="mailto:saniyayadav024@gmail.com"><i class="fa-solid fa-envelope"></i>saniyayadav024@gmail.com</a>

                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="overlay">
                <div class="logo">
                    <a href="index.html">
                        <i class="fa-solid fa-car"></i>Booking</a>
                </div>
                <div class="navbar">
                    <nav>
                         <ul class="nav-list">
                    <a href="{% url 'home' %}">
                        <li>Home</li>
                    </a>
                    <a href="{% url 'about' %}">
                        <li>About</li>
                    </a>
                    <a href="{% url 'service' %}">
                        <li>Service</li>
                    </a>
                    <a href="{% url 'blog' %}">
                        <li>Blog</li>
                    </a>
                  
                        <li>Pages
                            <ul>
                                <a href="{% url 'ourfeature' %}"><li>Our Features</li></a>
                                <a href="{% url 'ourcars' %}"><li>Our Cars</li></a>
                                <a href="{% url 'ourteam' %}"><li>Our Team</li></a>
                                <a href="{% url 'testimonial' %}"><li>Testimonial</li></a>
                                <a href="{% url 'numpage' %}"><li>404 Pages</li></a>
                            </ul>
                        </li>
                   
                    <a href="{% url 'contact' %}">
                        <li>Contact</li>
                    </a>
                </ul>
                    </nav>
                </div>
                <div class="get-start">
                    <a href="{index.html}">Get-Started</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->