{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- hero section start -->
    <section class="hero">
        <div class="inner">
            <div class="overlay">
                <div class="hero-main">
                    <div class="hero-content">
                        <h1>Get 15% Off your Rental Plan your trip now</h1>
                        <h4>Treat yourself in USA</h4>
                    </div>
                    <div class="hero-form">
                        <div class="car-form">
                            <h3>CONTINUE CAR RESERVATION</h3>
                            <form>
                                <select class="selection">
                                    <option value="">Select Your car Type</option>
                                    <option value="">VW Golf VII</option>
                                    <option value="">Audi A1 S-line</option>
                                    <option value="">Toyota Camry</option>
                                    <option value="">BMW 320 Modernline</option>
                                </select>
                                <div class="input-group">
                                    <div class="pick-up">
                                        <span><i class="fa-solid fa-location-dot"></i>
                                            Pick Up</span>
                                    </div>
                                    <input type="text" placeholder="Enter a City or Airport">
                                </div>
                                <h4 class="form-heading">Need a Different drop-off location</h4>
                                <div class="input-group">
                                    <div class="pick-up">
                                        <span><i class="fa-solid fa-location-dot"></i>
                                            Drop Off</span>
                                    </div>
                                    <input type="text" placeholder="Enter a City or Airport">
                                </div>

                                <div class="input-group1">
                                    <div class="pick-up1">
                                        <span><i class="fa-solid fa-calendar-days"></i>
                                            Pick Up</span>
                                    </div>
                                    <input type="date" placeholder="dd-mm-yy">
                                    <select class="selection1">
                                        <option value="time">12:00AM</option>
                                        <option value="time">1:00AM</option>
                                        <option value="time">2:00AM</option>
                                        <option value="time">3:00AM</option>
                                        <option value="time">4:00AM</option>
                                    </select>


                                </div>

                                <div class="input-group1">
                                    <div class="pick-up1">
                                        <span><i class="fa-solid fa-calendar-days"></i>
                                            Drop Up</span>
                                    </div>
                                    <input type="date" placeholder="dd-mm-yy">
                                    <select class="selection1">
                                        <option value="time">12:00AM</option>
                                        <option value="time">1:00AM</option>
                                        <option value="time">2:00AM</option>
                                        <option value="time">3:00AM</option>
                                        <option value="time">4:00AM</option>
                                    </select>
                                </div>
                                <div class="book-now">
                                    <input type="submit" value="Book Now">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- cental feature start -->
     <section class="cental-feature">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking</span> Features</h2>
            <p class="feature-discription">A central feature of a car is its engine, which serves as the heart of the
                vehicle. The engine converts fuel (such as petrol, diesel, or electricity in electric cars) into energy
                that powers the car and allows it to move. Without the engine, a car cannot operate.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="class-para">
                        <h3 class="class-service">First Class services</h3>
                        <p class="service-detail">At that time, cars were new and often unreliable, so they required
                            frequent maintenance and repairs. Early car services mainly focused on basic tasks such as
                            fixing engines, changing oil etc.</p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-road"></i>

                        </div>

                    </div>
                    <div class="class-para">
                        <h3 class="class-service">24/7 road assistance</h3>
                        <p class="service-detail">Central Car offers 24/7 road assistance as an important service for
                            all its customers. This means help is available any time of the day or night, every day of
                            the year, whether it's early morning, late at night, weekends, or holidays. </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'image/car-1.png' %}" alt="car-1">
            </div>

            <div class="feature-content-box">
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Quality at Minimum</h3>
                        <p class="service-detail1">At a minimum, a good-quality car should provide essential safety,
                            reliability, comfort, and practicality. Safety features are the most important and should
                            include at least driver and front passenger airbags, ABS with EBD, seatbelts for all
                            passengers.</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </div>
                </div>
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Free Pick-up & Drop-Off</h3>
                        <p class="service-detail1">this is for your car is a service many modern
                            workshops & car-servicing companies offer so you don't have to drive your car to the
                            garage yourself they collect your car from your home, service or repair it, and then
                            return it back to you, usually at no extra cost if you book through them.</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-map-pin"></i>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental feature end -->

    <!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-left">
                <h2 class="about-heading">Booking<span> About</span></h2>
                <p class="about-para">The central aspects of a car are the main qualities that define how good, safe,
                    and useful it is. A car is primarily designed to provide safe and comfortable transportation, so
                    safety features like airbags, brakes, and seatbelts are central to it.</p>

                <div class="our-vision">
                    <div class="vision-box">
                        <div class="target">
                            <div class="gol">
                                <i class="fa-solid fa-bullseye"></i>
                            </div>
                        </div>
                        <h4 class="vision-heading">Our Vision</h4>
                        <p class="vision-para">It aims to build trust through professional care, transparency, and
                            convenient service solutions.</p>
                    </div>
                    <div class="vision-box">
                        <div class="target">
                            <div class="gol">
                                <i class="fa-solid fa-bullseye"></i>
                            </div>
                        </div>
                        <h4 class="vision-heading">Our Mision</h4>
                        <p class="vision-para">The mission of a car centre is to provide dependable and high-quality
                            vehicle service at affordable prices.</p>
                    </div>
                </div>

                <p class="cental-paragraph">A car centre is a place that provides complete care for vehicles, including
                    servicing, repairs, inspections, and maintenance.
                    Its main role is to keep cars safe, reliable, and in good condition by offering professional
                    service, skilled technicians.</p>

                <div class="experience">
                    <div class="year-of">
                        <h2 class="number-17">17</h2>
                        <h5 class="topic">Years of experience</h5>
                    </div>
                    <div class="deatails">
                        <ul type="none">
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>Vehicle servicing and maintenance</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span> Repair and replacement of parts</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>Skilled technicians and proper
                                    tools</span>
                            </li>
                            <li class="right-tick">
                                <i class="fa-solid fa-circle-check"></i><span>Timely and cost-effective service</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="customer-detail">
                    <div class="more-about">
                        <div class="more-about-us">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="picture"></div>
                        <div class="picture-detail">
                            <h3 class="william">N.R. Narayana</h3>
                            <span class="career">Career Founder</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cental-left">
                <div class="key-chain">
                    <img src="{% static 'image/about-img.jpg' %}" alt="">
                </div>
                <div class="taxi">
                    <div class="taxi-img">
                        <img src="{% static 'image/about-img-1.jpg' %}" alt="">
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- cental about end -->

    <!-- numbering of car start -->
    <section class="numbering-car">
        <div class="numbering-inner">
            <div class="overlay">
                {% for n in Numbering_show %}
                <div class="happy-client">
                    <div class="icon-box">
                        <div class="like-box">
                            <i class="{{ n.num_icon }}"></i>
                        </div>
                    </div>
                    <div class="icon-box1">
                        <h4 class="number">{{ n.num_counter }}</h4>
                        <h5 class="number-para">{{ n.num_title }}</h5>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
        </div>
    </section>
    <!-- numbering of car end -->
    <!-- cental service start -->
    <section class="cental-service">
        <div class="cental-topic">
            <h3 class="topic-service">Cental<span> Services</span></h3>
            <p class="topic-para">Central service refers to the main or core service facility that provides complete and
                organized support for vehicles or customers. In the context of a car centre, central service ensures
                proper vehicle maintenance, repairs, inspections, and customer support under one system.</p>
        </div>

        <div class="overlay">
            <div class="car-services">
                <div class="car-services1">
                    {% for s in service_show %}
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="{{s.ser_icon}}"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                {{s.ser_title}}
                            </h3>
                            <p class="phone-para">
                               {{s.ser_desc}}


                            </p>
                        </div>
                    </div>
                   {% endfor %}
                   
                </div>
             
            </div>
        </div>
    </section>

    <!-- cental service end -->
    <!-- vehicle categories start-->
    <section class="vehicle-categories">
        <div class="vehicle-top">
            <h3 class="topic-vehicle">Vehicle<span> Categories</span></h3>
            <p class="vehicle-para">In a car centre, vehicle categories help organize the types of vehicles they
                service, rent, or sell based on size, purpose, and features.Luxury cars
                provide premium features and superior comfort, while electric vehicles require specialized servicing for
                their battery systems.</p>
        </div>
        <div class="vehicle-bottom">
            <div class="overlay owl-carousel owl-theme" id="vehicle">
                {% for c in cat_show %}
                <div class="vehicle-box">
                    <div class="vehicle-inner">
                        <div class="vehicle-car">
                            <img src="{{c.cat_image.url}}" alt="car-4">
                        </div>
                        <div class="vehicle-topic">
                            <h4 class="hyundai">{{c.cat_title}}</h4>
                            <p class="review">4.8 Review
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </p>
                            <div class="price-box">
                                <span>{{c.cat_rate}}</span>
                            </div>
                            <div class="icon-txt">
                                <P><i class="fa-solid fa-users"></i>4Seat</P>
                                <P><i class="fa-solid fa-car"></i>AT/MT</P>
                                <P><i class="fa-solid fa-gas-pump"></i>Petrol</P>
                            </div>
                            <div class="icon-txt1">
                                <P><i class="fa-solid fa-car"></i>2015</P>
                                <P><i class="fa-solid fa-gears"></i>AUTO</P>
                                <P><i class="fa-solid fa-road"></i>27K</P>
                            </div>

                            <div class="booking-now">
                                <a href="#">Book Now</a>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- vehicle categories end-->

      <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="cental-top">
                <h2 class="process-heading">Cental <span>Process</span></h2>
                <p class="process-para">The central processes of a car centre encompass all the main operations that ensure smooth functioning and customer satisfaction. These include service booking and appointment management through phone, app, or website, vehicle pick-up and drop-off, and thorough inspection and diagnosis to identify maintenance needs or issues.</p>
            </div>
            <div class="process-card">
                <div class="overlay">
                     {% for p in Centalprocess_show %}
                    <div class="card-1">
                        <h4 class="card-heading">{{ p.pro_title }}</h4>
                        <p class="card-para">{{ p.pro_desc }}</p>
                          <div class="card-box">
                            <span class="card-number"> {{ p.pro_number }}</span>
                          </div>
                    </div>
                  
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    <!-- cental process end -->

    <!-- cental blog & news start-->
    <section class="vehicle-categories">
        <div class="vehicle-top">
            <h3 class="topic-vehicle">Cental <span>Blog & News</span></h3>
            <p class="vehicle-para">Central Blog & News in a car centre is a platform where the centre shares the latest
                updates, tips, and information related to vehicles and automotive services. It may include news about
                new car models, maintenance advice, promotions, safety tips, industry trends, and upcoming offers.</p>
        </div>
        <div class="overlay">
            <div class="blog-bottom">
                {% for b in blog_show %}
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{{ b.blog_image.url }}" alt="blog-1">
                        <div class="dec30">
                            <span>{{ b.blog_date }}</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span>{{ b.blog_authorname }}</p>
                            <p><span><i class="fa-solid fa-message"> </i></span>{{ b.blog_comment }}</p>
                        </div>
                        <h2 class="driving">
                            {{ b.blog_title }}
                        </h2>
                        <p class="driving-para">
                            {{ b.blog_desc }}
                        </p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
            {% endfor %}
               
            </div>
        </div>
    </section>
    <!-- cental blog & news end -->
    <!-- rent your car start -->
    <section class="rent-car">
        <div class="overlay">
            <div class="rent-img">
                <div class="rent-inner">
                    <div class="interest-rent">
                        <h3 class="rent-heading">Rent Your Car</h3>
                        <h2 class="renting">Interested in Renting?</h2>
                        <h5 class="rent-para">Dont't hesitate and send us a message.</h5>
                        <div class="rent-box">
                            <div class="rent-msg">
                                <a href="#">Whatsapp</a>
                            </div>
                            <div class="rent-contact">
                                <a href="#">Contact Us</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- rent your car end -->

    <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review">Our Clients <span>Reviews</span></h3>
            <p class="heading-para">Our clients consistently praise our reliable service, professional staff, and convenient solutions.They value the quality, trust, and customer-friendly experience we provide.They also value features like free pick-up and drop-off, flexible rental options, and attentive customer support, which make their experience seamless and trustworthy.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay owl-carousel owl-theme" id="review">
                {% for r in review_show %}
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{{ r.review_image.url }}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>{{ r.review_title }}</h3>
                            <p>Profession</p>
                            <i class="{{r.review_icon}}"></i>
                            <i class="{{r.review_icon}}"></i>
                            <i class="{{r.review_icon}}"></i>
                            <span class="star">
                                <i class="{{r.review_icon}}"></i>
                                <i class="{{r.review_icon}}"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>{{ r.review_desc}}</p>
                    </div>
                </div>
                {% endfor %}
               
                </div>
            </div>
        </div>
    </section>
    <!-- client review end -->

    <!-- customer support center  start-->
    <section class="customer-support">
        <div class="customer-top">
            <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
            <p class="customer-para">It ensures smooth communication, answers questions about services, handles complaints, provides updates on bookings or repairs, and offers guidance before, during, and after vehicle service to ensure customer satisfaction.</p>
        </div>
        <div class="customer-bottom">
            <div class="overlay">
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{%  static 'image/team-1.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'image/team-4.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'image/team-3.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
                <div class="team-item">
                    <div class="team-img">
                        <div class="image-div">
                            <img src="{% static 'image/team-2.jpg' %}" alt="team-1">
                        </div>
                        <h3 class="customer-heading">Martin Doe</h3>
                        <p class="pro">Profession</p>
                        <div class="rent-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- customer support center end-->
    <!-- hero section end -->
</main>
{% endblock %}