{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- about section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">404 Pages</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>404 Page</span>
            </div>
        </div>
    </section>
    <!-- about section end -->

    <!-- 404 page section start -->
         
    <section class="numpage">
        <div class="num-box">
              <i class="fa-solid fa-triangle-exclamation"></i>
        <h3>404</h3>
        <h5>Page Not Found</h5>
        <p>We're sorry,the page you have looked for does not exist in your website!Maybe 
            go to our home page or try to use a search?
        </p>
        
        <div class="get-home">
            <a href="index.html">Get Back to Home</a>
        </div>
       
        </div>
      
    </section>
     <!-- 404 page section end-->

{% endblock %}