{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- about section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">Our Features</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Feature</span>
            </div>
        </div>
    </section>
    <!-- about section end -->

       <!-- cental feature start -->
    <section class="cental-feature">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking</span> Features</h2>
            <p class="feature-discription">A central feature of a car is its engine, which serves as the heart of the
                vehicle. The engine converts fuel (such as petrol, diesel, or electricity in electric cars) into energy
                that powers the car and allows it to move. Without the engine, a car cannot operate.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="class-para">
                        <h3 class="class-service">First Class services</h3>
                        <p class="service-detail">At that time, cars were new and often unreliable, so they required
                            frequent maintenance and repairs. Early car services mainly focused on basic tasks such as
                            fixing engines, changing oil etc.</p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-road"></i>

                        </div>

                    </div>
                    <div class="class-para">
                        <h3 class="class-service">24/7 road assistance</h3>
                        <p class="service-detail">Central Car offers 24/7 road assistance as an important service for
                            all its customers. This means help is available any time of the day or night, every day of
                            the year, whether it's early morning, late at night, weekends, or holidays. </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'image/car-1.png' %}" alt="car-1">
            </div>


            <div class="feature-content-box">
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Quality at Minimum</h3>
                        <p class="service-detail1">At a minimum, a good-quality car should provide essential safety,
                            reliability, comfort, and practicality. Safety features are the most important and should
                            include at least driver and front passenger airbags, ABS with EBD, seatbelts for all
                            passengers.</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </div>
                </div>
                <div class="first-class">

                    <div class="class-para">
                        <h3 class="class-service1">Free Pick-up & Drop-Off</h3>
                        <p class="service-detail1">this is for your car is a service many modern
                            workshops & car-servicing companies offer so you don't have to drive your car to the
                            garage yourself they collect your car from your home, service or repair it, and then
                            return it back to you, usually at no extra cost if you book through them.</p>
                    </div>
                    <div class="class-icon">
                        <div class="trophy">
                            <i class="fa-solid fa-map-pin"></i>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental feature end -->
     
         <!-- numbering of car start -->
        <section class="numbering-car">
            <div class="numbering-inner">
                <div class="overlay">
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">829+</h4>
                            <h5 class="number-para">Happy Clients</h5>
                        </div>
                    </div>
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">56+</h4>
                            <h5 class="number-para">Number of cars</h5>
                        </div>
                    </div>
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-building"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">127+</h4>
                            <h5 class="number-para">Car Center</h5>
                        </div>
                    </div>
                    <div class="happy-client">
                        <div class="icon-box">
                            <div class="like-box">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                        </div>
                        <div class="icon-box1">
                            <h4 class="number">589+</h4>
                            <h5 class="number-para">Total kilometers</h5>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>
        <!-- numbering of car end -->
           <!-- rent your car start -->
        <section class="rent-car">
            <div class="overlay">
                <div class="rent-img">
                    <div class="rent-inner">
                        <div class="interest-rent">
                            <h3 class="rent-heading">Rent Your Car</h3>
                            <h2 class="renting">Interested in Renting?</h2>
                            <h5 class="rent-para">Dont't hesitate and send us a message.</h5>
                            <div class="rent-box">
                                <div class="rent-msg">
                                    <a href="#">Whatsapp</a>
                                </div>
                                <div class="rent-contact">
                                    <a href="#">Contact Us</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- rent your car end -->

{% endblock %}