{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- about section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">Our Testimonial</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Testimonial </span>
            </div>
        </div>
    </section>
    <!-- about section end -->

     <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review">Our Clients <span>Reviews</span></h3>
            <p class="heading-para">Our clients consistently praise our reliable service, professional staff, and convenient solutions.They value the quality, trust, and customer-friendly experience we provide.They also value features like free pick-up and drop-off, flexible rental options, and attentive customer support, which make their experience seamless and trustworthy.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay">
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'image/team-1.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>Excellent service! My car was picked up on time, serviced efficiently, and returned in perfect condition.
                            Very professional staff and transparent pricing. I trust them with all my vehicle maintenance needs.</p>
                    </div>
                </div>
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'image/team-2.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>Friendly staff, well-maintained workshop, and genuine spare parts highly recommended!
            Booking through their app was easy, and the customer support team was very helpful.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review end -->

{% endblock %}