{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- about section start -->
    <section class="about">
        <div class="about-inner">
            <h2 class="about-us">Our Testimonial</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>Testimonial </span>
            </div>
        </div>
    </section>
    <!-- about section end -->

     <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review">Our Clients <span>Reviews</span></h3>
            <p class="heading-para">Our clients consistently praise our reliable service, professional staff, and convenient solutions.They value the quality, trust, and customer-friendly experience we provide.They also value features like free pick-up and drop-off, flexible rental options, and attentive customer support, which make their experience seamless and trustworthy.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay owl-carousel owl-theme" id="review">
                {% for r in review_show %}
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{{ r.review_image.url }}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>{{ r.review_title }}</h3>
                            <p>Profession</p>
                            <i class="{{r.review_icon}}"></i>
                            <i class="{{r.review_icon}}"></i>
                            <i class="{{r.review_icon}}"></i>
                            <span class="star">
                                <i class="{{r.review_icon}}"></i>
                                <i class="{{r.review_icon}}"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>{{ r.review_desc}}</p>
                    </div>
                </div>
                {% endfor %}
               
                </div>
            </div>
        </div>
    </section>
    <!-- client review end -->

{% endblock %}